/Type/Type/.vs/Type/DesignTimeBuild
/Type/Type/.vs/Type/v16
/Type/Type/CoreFirst/bin/Debug/netcoreapp2.2
/Type/Type/CoreFirst/bin/Debug/netcoreapp3.1
/Type/Type/CoreFirst/obj/Debug/netcoreapp2.2
/Type/Type/CoreFirst/obj/Debug/netcoreapp3.1
/Type/Type/CoreWeb/bin/Debug/netcoreapp3.1
/Type/Type/CoreWeb/obj/Debug/netcoreapp3.1
/Type/Type/SyncDeadLock/bin/Debug/netcoreapp2.2
/Type/Type/SyncDeadLock/obj/Debug/netcoreapp2.2
/Type/Type/Type/obj/Debug
/Type/Type/Type/bin/Debug/netcoreapp2.2
netcoreapp3.1
obj
.bin
anymatch
/Webpack/node_modules
